.grid {
  display: grid;
	width: 100%;
	height: 70vh;
  grid-template: 20rem / 15rem 1fr;
  grid-template-areas:
    "sidebar main main"
    "sidebar main main";
  grid-gap: .5rem;
}

.grid aside {
	grid-area: sidebar;
}

.grid main {
  grid-area: main;
}
